<%- include("partials/header")%>
  <link rel="stylesheet" type="text/css" href="CSS/form.css" />

  <style>
    .btnDelete{
      background-color: rgb(255, 0, 0) !important;
      transition: box-shadow 0.3 ease;
    }
    .btnDelete:hover{ 
      box-shadow: 0 0px 30px rgba(255, 0, 0);
     }


  </style>

  <body>
    <%- include("partials/hudLog")%>

      <div class="row g-0 imgDir">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
          <form class="form-control pForm" action="/editProfile?method=put" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="method" value="put">
            <h1 class="title">Edite sua conta</h1>
            <p class="subTitle">🎵</p>
            <div class="linha"></div>
            <!-- nome -->
            <div class="row">
              <label class="text-start subTitle col-4">Username</label>
              <input type="text" name="username" id="username" value="<%= result[0].login %>"
                class="inputForm form-control form-control-sm col">
            </div>
            <!-- senha -->
            <div class="row">
              <label class="text-start subTitle col-4">Senha</label>
              <input type="password" name="password" id="password" placeholder="senha"
                class="inputForm form-control-sm form-control col">
            </div>
            <!-- bio -->
            <div class="row">
              <label class="text-start subTitle col-4">Bio</label>
              <textarea type="text" name="bio" id="bio" placeholder="bio" value="<%= result[0].bio %>"
                class="inputForm form-control-sm form-control col" maxlength="256"
                style="resize: none; border-radius: 15px;"></textarea>
            </div>

            <div class="linha"></div>

            <div class="row">
              <label class="text-start subTitle col">Mudar foto de perfil</label>
              <input type="file" name="pfp" id="pfp" class="inputForm form-control-sm form-control col" value="Submit">
            </div>
            <img src="./img/icons/profilepic.png" id="previewPfp" class="picEdit col">

            <div class="row d-flex justify-content-center">
              <button type="submit" class="btn btnBase btnLog">Finalizar</button>
              <a href="javascript:void(0);" class="btn btnBase btnLog btnDelete" onclick="deleteAccount('<%= result[0].idCliente %>')">Deletar conta!</a>
            </div>
          </form>
        </div>

        <div class="col-md-6 d-flex justify-content-center align-items-center h-100 imgDiv ">
          <img src="/img/illustrations/DJ.jpeg" class="img-fluid h-100 w-100 "
            style="object-fit: cover; max-height: 100vh;"></img>
        </div>
      </div>
  </body>

  <script>
    var pfp = document.getElementById("pfp");
    var previewPfp = document.getElementById("previewPfp");

    pfp.addEventListener("input",(e)=>{
      let img = event.target.files[0];
  
      if(img){
        let reader = new FileReader();
  
        reader.onload = (e)=>{
          previewPfp.src = e.target.result;
        }
  
        reader.readAsDataURL(img)
      }else{
        previewPfp.src = "./img/icons/profilepic.png";
      }
    });

    var btndelete = document.getElementsByClassName("btndelete");

    function deleteAccount(userId) {
    if (confirm("Deseja mesmo deletar sua conta?")) {
      fetch(`/deleteUser/${userId}`, {
        method: 'DELETE',
      })
      window.location.href = "/logOut";
    }
  }
  </script>