<%- include("partials/header")%>
  <link rel="stylesheet" type="text/css" href="CSS/index.css" />

  <body>
    <%- include("partials/hudLog")%>

      <div class="container">
        <br>

        <!-- favoritos: -->
        <h1 class="topicsTitles text-start">Favoritos</h1>
        <p class="subTitle text-start" style="margin-left: 26px;">Dê uma olhada nos seus kits favoritos</p>
        <div class="linha"></div>

        <form method="post" style="width: 250px; height: 15px; margin-left:26px;" class="input-group mb-1">
          <input type="text" class="form-control form-control-sm inputSearch" placeholder="search..."
            aria-label="Recipient's username" aria-describedby="button-addon2">
          <button class="btn buttonSearch" type="button" id="btnSearch"><img src="./img/icons/search.png"
              class="searchIcon"></button>
        </form>
        <br>
        <!-- fileira 1 dos pacotes -->
        <div class="row container">
          <% pacote.forEach((pac)=>{ %>
            <!-- isso é um pacote (comeco) -->
            <a href="/kitPage/<%= pac.idPacote %>/<%= pac.slug %>" class="col" style="text-decoration: none;">
              <div class="card pacoteCard" style="width: 18rem;">
                <img
                  src="/uploads/img/kitCover/<%= pac.dirImg %>"
                  class="imgCard" alt="...">
                <div class="cardBody">
                  <h5 class="cardTitle"><%= pac.nome %></h5>
  
                  <div class="linha"></div>
  
                  <img src="img/icons/star.png" class="cardStar float-start">
                  <p class="cardTxt"><%= pac.media %></p>
  
                  <img src="img/icons/buyers.png" class="cardStar float-start">
                  <p class="cardTxt"><%= pac.totalCompras %></p>
                  <br>
                </div>
              </div>
            </a>
          <% }) %>
          <!-- isso é um pacote (fim) -->
        </div>
      </div>

      </div>


  </body>

  </html>