<%- include("partials/header")%>
  <link rel="stylesheet" type="text/css" href="CSS/index.css" />

  <body>
    <%- include("partials/hudLog")%>

      <!-- O texto com a foto, Welcome to the drumbay -->
      <div class="container indexDiv">
        <div>
          <img src="/img/illustrations/welcomeImage.png" class="float-start imgWelcome" /><br>
          <h1>Bem vindo a Drum Bay!</h1>
          <p class="welcomeSubtitle"><strong>Dê uma olhada nos kits novinhos de hoje!</strong>
          <p>
        </div>
      </div>

      <!-- parte dos produtos -->

      <div class="container">
        <br>

        <!-- novos pacotes: -->
        <h1 class="topicsTitles text-start">Novos</h1>
        <div class="linha"></div>
        <br>
        <!-- fileira 1 dos pacotes -->
        <div class="row container">
          <% for(packR of pacoteRecente){%>
            <!-- isso é um pacote (comeco) -->
            <a href="/kitPage/<%= packR.idPacote %>/<%= packR.slug %>" class="col" style="text-decoration: none;">
              <div class="card pacoteCard" style="width: 18rem;">
                <img src="/uploads/img/kitCover/<%= packR.dirImg %>" class="imgCard" alt="...">
                <div class="cardBody">
                  <h5 class="cardTitle">
                    <%= packR.nome %>
                  </h5>

                  <div class="linha"></div>

                  <img src="img/icons/star.png" class="cardStar float-start">
                  <p class="cardTxt">
                    <%= packR.media %>
                  </p>

                  <img src="img/icons/buyers.png" class="cardStar float-start">
                  <p class="cardTxt">
                    <%= packR.totalCompras %>
                  </p>
                  <br>
                </div>
              </div>
            </a>
            <% } %>
              <!-- isso é um pacote (fim) -->

        </div>

        <!-- popular pacotes: -->
        <h1 class="topicsTitles text-start">Popular</h1>
        <div class="linha"></div>
        <br>
        <!-- fileira 1 dos pacotes -->
        <div class="row container">
          <!-- isso é um pacote (comeco) -->
          <% for(packP of pacotesPopulares){ %>
            <a href="/kitPage/<%= packP.idPacote %>/<%= packP.slug %>" class="col" style="text-decoration: none;">
              <div class="card pacoteCard" style="width: 18rem;">
                <img src="/uploads/img/kitCover/<%= packP.dirImg %>" class="imgCard" alt="...">
                <div class="cardBody">
                  <h5 class="cardTitle">
                    <%= packP.nome %>
                  </h5>

                  <div class="linha"></div>

                  <img src="img/icons/star.png" class="cardStar float-start">
                  <p class="cardTxt">
                    <%= packP.media %>
                  </p>

                  <img src="img/icons/buyers.png" class="cardStar float-start">
                  <p class="cardTxt">
                    <%= packP.totalCompras %>
                  </p>
                  <br>
                </div>
              </div>
            </a>
            <% } %>

        </div>
      </div>
  </body>

<%- include("partials/header")%>
  <link rel="stylesheet" type="text/css" href="CSS/index.css" />

  <body>
    <%- include("partials/hudLog") %>

      <!-- O texto com a foto, Welcome to the drumbay -->
      <div class="container indexDiv">
        <div>
          <img src="/img/illustrations/welcomeImage.png" class="float-start imgWelcome" /><br>
          <h1>Bem vindo a Drum Bay!</h1>
          <p class="welcomeSubtitle"><strong>Bom ver você de novo! Dê uma olhada nos kits novinhos de hoje!</strong>
          <h1>Bem vindo a Drum Bay!</h1>
          <p class="welcomeSubtitle"><strong>Dê uma olhada nos kits novinhos de hoje!</strong>
          <p>
        </div>
      </div>

      <!-- parte dos produtos -->

      <div class="container">
        <br>

        <!-- novos pacotes: -->
        <h1 class="topicsTitles text-start">Novos</h1>
        <div class="linha"></div>
        <br>
        <!-- fileira 1 dos pacotes -->
        <div class="row container">

          <!-- isso é um pacote (comeco) -->
          <% for(packR of pacoteRecente){%>
            <!-- isso é um pacote (comeco) -->
            <a href="/kitPage/<%= packR.idPacote %>/<%= packR.slug %>" class="col" style="text-decoration: none;">
              <div class="card pacoteCard" style="width: 18rem;">
                <img src="/uploads/img/kitCover/<%= packR.dirImg %>" class="imgCard" alt="...">
                <div class="cardBody">
                  <h5 class="cardTitle">
                    <%= packR.nome %>
                  </h5>

                  <div class="linha"></div>

                  <img src="img/icons/star.png" class="cardStar float-start">
                  <p class="cardTxt">
                    <%= packR.media %>
                  </p>

                  <img src="img/icons/buyers.png" class="cardStar float-start">
                  <p class="cardTxt">
                    <%= packR.totalCompras %>
                  </p>
                  <br>
                </div>
              </div>
            </a>
            <% } %>
              <!-- isso é um pacote (fim) -->

        </div>

        <!-- popular pacotes: -->
        <h1 class="topicsTitles text-start">Popular</h1>
        <div class="linha"></div>
        <br>
        <!-- fileira 1 dos pacotes -->
        <div class="row container">
          <!-- isso é um pacote (comeco) -->
          <% for(packP of pacotesPopulares){ %>
            <a href="/kitPage/<%= packP.idPacote %>/<%= packP.slug %>" class="col" style="text-decoration: none;">
              <div class="card pacoteCard" style="width: 18rem;">
                <img src="/uploads/img/kitCover/<%= packP.dirImg %>" class="imgCard" alt="...">
                <div class="cardBody">
                  <h5 class="cardTitle">
                    <%= packP.nome %>
                  </h5>

                  <div class="linha"></div>

                  <img src="img/icons/star.png" class="cardStar float-start">
                  <p class="cardTxt">
                    <%= packP.media %>
                  </p>

                  <img src="img/icons/buyers.png" class="cardStar float-start">
                  <p class="cardTxt">
                    <%= packP.totalCompras %>
                  </p>
                  <br>
                </div>
              </div>
            </a>
            <% } %>
          <!-- isso é um pacote (fim) -->
        </div>
      </div>
  </body>

  </html>