<%- include("partials/header")%>

  <!-- Erro ao puxar o css -->
  <link rel="stylesheet" type="text/css" href="/CSS/index.css" />
  <link rel="stylesheet" type="text/css" href="/CSS/kitPage.css" />

  <body>
    <%- include("partials/hudNoLog")%>

      <div class="container">
        <br />

        <!-- página de pacote(produto) -->
        <h1 class="topicsTitles text-start">
          <%= pacote[0].nome %>
        </h1>
        <div class="linha"></div>
      </div>

      <div class="container" style="height: 400px;">

        <!-- mais do autor, minimiza essa div mano-->
        <div class="float-end moreFrom">
          <div class="float-start linhaV"></div>
          <h1 class="topicsTitles" style="font-size: 25px;">Mais de: User</h1>
          <div class="linha"></div><br>
          <!-- div que contém os pacotes-->
          <div class="container">

            <% for(let i=0;i <=3 - 1;i++){ %><!-- isso é um pacote (comeco) -->
              <a href="/kitPage/<%= pacotesUsuario[i].idPacote %>/<%= pacotesUsuario[i].slug %>" class="row"
                style="text-decoration: none;">
                <div class="card pacoteCard" style="width: 18rem;">
                  <img src="/uploads/img/kitCover/<%= pacotesUsuario[i].dirImg %>" class="imgCard" alt="...">
                  <div class="cardBody">
                    <h5 class="cardTitle">
                      <%= pacotesUsuario[i].nome %>
                    </h5>

                    <div class="linha"></div>

                    <img src="/img/icons/star.png" class="cardStar float-start">
                    <p class="cardTxt">
                      <%= pacotesUsuario[i].media %>
                    </p>

                    <img src="/img/icons/buyers.png" class="cardStar float-start">
                    <p class="cardTxt">
                      <%= pacotesUsuario[i].totalCompras %>
                    </p>
                    <br>
                  </div>
                </div>
              </a>
              <!-- isso é um pacote (fim) -->
              <% } %>

          </div>
        </div>

        <img src="/uploads/img/kitCover/<%= pacote[0].dirImg %>" class="cover float-start" />
        <!--descrição do kit-->
        <div class="container kitInfo">
          <h1 class="subTitle text-start description">Sobre:</h1>
          <p class="subTitle text-start description" style="height: 200px;">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit sunt
            molestiae laudantium? Laudantium, at quibusdam? Ex neque delectus
            recusandae eos omnis a ullam quidem ab unde architecto voluptatem, dolorum
            aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit sunt
            molestiae laudantium? Laudantium, at quibusdam? Ex neque delectus
            recusandae eos omnis a ullam quidem ab unde architecto voluptatem, dolorum
            aut.
          </p>
          <br>


          <!--perfil do merdao q fez o kit-->
          <a class="subTitle username userAnim" href="/profile/<%= pacote[0].slug %>/<%= pacote[0].idCliente%>">
            <img src="/uploads/img/pfp/<%= pacote[0].imgPerfil %>" class="pfp" />
            <%= pacote[0].login %>
          </a>
          <br><br>

          <a class="subTitle username aling-items-center">
            <!--média das avaliações-->
            <img src="/img/icons/star.png" class="pfp" />
            <%= pacote[0].media%>
              <!--quantos compraram o produto-->
              <img src="/img/icons/buyers.png" class="pfp" />
              <%= pacote[0].totalCompras %>
          </a>

        </div>
      </div>
      <!--parte das avaliações-->
      <div class="container">
        <div class="linha float-start" style="width: 700px;"></div><br>
        <h1 class="subTitle text-start">Avalie esse kit!</h1>
        <ul class="rate">
          <li class="star t" nota="1"></li>
          <li class="star" nota="2"></li>
          <li class="star" nota="3"></li>
          <li class="star" nota="4"></li>
          <li class="star" nota="5"></li>
        </ul>
        <br>
        <a class="btn btnBase" href="/uploads/pack/<%= pacote[0].dirDemo %>">Download Demo</a>
      </div>

      <!--comentários-->
      <div class="container mt-5" style="margin-bottom: 25px;">
        <h1 class="subTitle text-start">Sessão de comentários:</h1>
        <div class="linha float-start" style="width: 635px;"></div><br>

        <!--area pra escrever o comentário-->
        <form id="commentForm">
          <button type="submit" class="sendComment float-start" id="btnComment"><img src="/img/icons/send.png"
              style="width: 25px;height: 25px;" /></button>

          <textarea type="text" name="comment" id="comment" placeholder="comentário..."
            class="inputForm form-control-sm commentInput text-start"></textarea>
        </form>
        <div class="linha float-start" style="width: 635px;"></div><br>

        <!-- onde ficam os comentários -->
        <div class="roller" id="commentSection">
          <div class="controler">
            <% for(coment of comentario){ %>
              <a class="subTitle" href="/user">
                <!--foto do usuario e o nome -->
                <img src="/uploads/img/pfp/<%= coment.imgPerfil %>" class="pfp" />
                <%= coment.login %>
              </a>
              <!-- texto do comentário -->
              <p class="subTitle text-start comment">
                <%= coment.comentario %>
              </p>
              <div class="linha float-start" style="width: 635px;"></div><br>
              <% } %>
          </div>
          <br>
        </div>
      </div>
      </div>
      </div>
  </body>

  <script type="text/javascript" src="/js/kitPageAjax.js"></script>


  </html>