<%- include("partials/header")%>

  <!-- Erro ao puxar o css -->
  <link rel="stylesheet" type="text/css" href="/CSS/index.css" />
  <link rel="stylesheet" type="text/css" href="/CSS/kitPage.css" />

  <body>
    <%- include("partials/hudLog")%>

      <div class="container">
        <br />

        <!-- página de pacote(produto) -->
        <h1 class="topicsTitles text-start">
          <%= pacote.nome %>
        </h1>
        <div class="linha"></div>
      </div>

      <div class="container" style="height: 400px;">

        <!-- mais do autor, minimiza essa div mano-->
        <div class="float-end moreFrom">
          <div class="float-start linhaV"></div>
          <h1 class="topicsTitles" style="font-size: 25px;">More from: User</h1>
          <div class="linha"></div><br>
          <!-- div que contém os pacotes-->
          <div class="container">

            <% for(let i = 0;i < 3 - 1;i++){ %><!-- isso é um pacote (comeco) -->
              <a href="/kitPage/<%= pacotesUsuario[i].idPacote %>/<%= pacotesUsuario[i].slug %>" class="row" style="text-decoration: none;">
                <div class="card pacoteCard" style="width: 18rem;">
                  <img
                    src="/uploads/img/kitCover/<%= pacotesUsuario[i].dirImg %>"
                    class="imgCard" alt="...">
                  <div class="cardBody">
                    <h5 class="cardTitle"><%= pacotesUsuario[i].nome %></h5>

                    <div class="linha"></div>

                    <img src="/img/icons/star.png" class="cardStar float-start">
                    <p class="cardTxt"><%= pacotesUsuario[i].media %></p>

                    <img src="/img/icons/buyers.png" class="cardStar float-start">
                    <p class="cardTxt"> <%= pacotesUsuario[i].totalCompras %></p>
                    <br>
                  </div>
                </div>
              </a>
              <!-- isso é um pacote (fim) -->
              <% } %>
 
          </div>
        </div>

        <img src="/uploads/img/kitCover/<%= pacote[0].dirImg %>" class="cover float-start" />
        <!--descrição do kit-->
        <div class="container kitInfo">
          <h1 class="subTitle text-start description">About:</h1>
          <p class="subTitle text-start description" style="height: 200px;">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit sunt
            molestiae laudantium? Laudantium, at quibusdam? Ex neque delectus
            recusandae eos omnis a ullam quidem ab unde architecto voluptatem, dolorum
            aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit sunt
            molestiae laudantium? Laudantium, at quibusdam? Ex neque delectus
            recusandae eos omnis a ullam quidem ab unde architecto voluptatem, dolorum
            aut.
          </p>
          <br>


          <!--perfil do merdao q fez o kit-->
          <a class="subTitle username userAnim" href="/profile">
            <img src="/uploads/img/pfp/<%= pacote.imgPerfil %>" class="pfp" />
            <%= pacote.login %>
          </a>
          <br><br>

          <a class="subTitle username aling-items-center">
            <!--média das avaliações-->
            <img src="/img/icons/star.png" class="pfp" />
            <%= pacote.media%>
              <!--quantos compraram o produto-->
              <img src="/img/icons/buyers.png" class="pfp" />
              <%= pacote.totalCompras %>
          </a>

        </div>
      </div>
      <!--parte das avaliações-->
      <div class="container">
        <div class="linha float-start" style="width: 700px;"></div><br>
        <h1 class="subTitle text-start">Rate this Kit!</h1>
        <ul class="rate">
          <li class="star t" nota="1"></li>
          <li class="star" nota="2"></li>
          <li class="star" nota="3"></li>
          <li class="star" nota="4"></li>
          <li class="star" nota="5"></li>
        </ul>

        <!--favoritar-->
        <div class="row">
          <a id="fav" class="text-start heart a"  valor="0" onclick="controleFav('POST','/ControleFavorita/<%= pacote.idPacote %>')"></a><br>
          <a class="text-start cart " valor="0"></a><br>        
        </div>

        <a class="btn btnBase" href="/paymentMethod">$<%= pacote.preco %></a><br>
        <a class="btn btnBase" href="/uploads/pack/<%= pacote.dirDemo %>">Download Demo</a>
      </div>

      <!--comentários-->
      <div class="container mt-5" style="margin-bottom: 25px;">
        <h1 class="subTitle text-start">Comment Section:</h1>
        <div class="linha float-start" style="width: 635px;"></div><br>

        <!--area pra escrever o comentário-->
        <form id="commentForm">
          <button type="submit" class="sendComment float-start" id="btnComment"><img src="/img/icons/send.png"
              style="width: 25px;height: 25px;" /></button>

          <textarea type="text" name="comment" id="comment" placeholder="comment..."
            class="inputForm form-control-sm commentInput text-start"></textarea>
        </form>
        <div class="linha float-start" style="width: 635px;"></div><br>

        <!-- onde ficam os comentários -->
        <div class="roller" id="commentSection">
          <div class="controler">
            <a class="subTitle" href="/user">
              <!--foto do usuario e o nome -->
              <img src="/img/icons/profilepic.png" class="pfp" />User</a>
            <!-- texto do comentário -->
            <p class="subTitle text-start comment">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit sunt
              molestiae laudantium? Laudantium, at quibusdam? Ex neque delectus
              recusandae eos omnis a ullam quidem ab unde architecto voluptatem, dolorum
              aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit sunt
              molestiae laudantium? Laudantium, at quibusdam? Ex neque delectus
              recusandae eos omnis a ullam quidem ab unde architecto voluptatem, dolorum
              aut.
            </p>
            <div class="linha float-start" style="width: 635px;"></div><br>
          </div>

          <a class="subTitle" href="/user">
            <img src="/img/icons/profilepic.png" class="pfp" />User</a>
          <p class="subTitle text-start comment">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit sunt
            molestiae laudantium? Laudantium, at quibusdam? Ex neque delectus
            recusandae eos omnis a ullam quidem ab unde architecto voluptatem, dolorum
            aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit sunt
            molestiae laudantium? Laudantium, at quibusdam? Ex neque delectus
            recusandae eos omnis a ullam quidem ab unde architecto voluptatem, dolorum
            aut.
          </p>
          <div class="linha float-start" style="width: 635px;"></div><br>

          <a class="subTitle" href="/user">
            <img src="/img/icons/profilepic.png" class="pfp" />User</a>
          <p class="subTitle text-start comment">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit sunt
            molestiae laudantium? Laudantium, at quibusdam? Ex neque delectus
            recusandae eos omnis a ullam quidem ab unde architecto voluptatem, dolorum
            aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit sunt
            molestiae laudantium? Laudantium, at quibusdam? Ex neque delectus
            recusandae eos omnis a ullam quidem ab unde architecto voluptatem, dolorum
            aut.
          </p>
          <div class="linha float-start" style="width: 635px;"></div><br>

        </div>

      </div>
      </div>

      </div>

      <!-- scrpit das avaliações -->
      <script>
        //***********************avaliacao**************************
        //tá puxando as tags com a classe star, vulgo as estrelakkkk
        var stars = document.querySelectorAll('.star');
    
        document.addEventListener('click', function (fc) {
          //verifica se o elemento tem a classe star, se n ele sai adicionando t em todos os outro elemento da pagina
          if (fc.target.classList.contains('star')) {
          var tstar = fc.target.classList;
    
          //verifica se a estrela nao tem a classe t(essa é a classe css que faz as estrelas ficarem preenchidas, é por aí)
          if (!tstar.contains('t')) {
            //se a estrela clicada nao tem a classe t, ela recebe essa classe e todas as outras perdem
            stars.forEach(function (star) {
              star.classList.remove('t');
            });
            //adionando t
            tstar.add('t');
            console.log(fc.target.getAttribute('nota'));
          }
          }
        });
    
        //***********************favorito**************************
        document.addEventListener('click', function(fc){
          
          var verClass = fc.target.classList
          //verifica se o elemento tem a class heart
          if (verClass.contains('heart')){
            //se o elemento tiver a classe a, ele remove a classe e troca o valor do atributo valorkkkk
            if(verClass.contains('a')){
              verClass.remove('a');
              //mudando o valor
              fc.target.setAttribute('valor', '1');
              
            }else if(!verClass.contains('a')){
              verClass.add('a');
              fc.target.setAttribute('valor', '0');
            }
          }
          if (verClass.contains('cart')){
            if(verClass.contains('ca')){
              verClass.remove('ca');
              fc.target.setAttribute('valor', '1');
              
            }else if(!verClass.contains('ca')){
              verClass.add('ca');
              fc.target.setAttribute('valor', '0');
            }
          }
    
    
    
        })
    
        //***********************comentarios**************************
    document.getElementById('commentForm').addEventListener('submit', function(event) {
        //como é sem consulta, isso aqui é pra cortar o envio padrao do formulario, n ficar atualizando a pagina pra sempre
        event.preventDefault();
    
        var commentInput = document.getElementById('comment');
        //pega o texto do comentario
        var commentText = commentInput.value.trim(); 
    
        if (commentText) {
          var commentSection = document.getElementById('commentSection');
    
          var newComment = document.createElement('div');
          newComment.classList.add('controler', 'commentPost');
          newComment.innerHTML = `
            <a class="subTitle" href="/user">
              <img src="/img/icons/profilepic.png" class="pfp"/>User</a>
            <p class="subTitle text-start comment">${commentText}</p>
            <div class="linha float-start" style="width: 635px;"></div><br>
          `;
          commentSection.prepend(newComment);
          commentInput.value = '';
        }
      });
    
    
          
      </script>
      
  </body>

  </html>