<%- include("partials/header")%>
  <link rel="stylesheet" type="text/css" href="CSS/index.css"/>
  <link rel="stylesheet" type="text/css" href="CSS/profile.css"/>

<body>
  <%- include("partials/hudAdm")%>
    
    <div class="container indexDiv">
      <div class="linha"></div>
      
      <img src="./img/icons/profilepic.png" class="pfp float-start" >
      
      <!-- Nome do usuário: -->
      <h1 class="userTitle"><%= cliente[0].login %></h1>
      <!-- Biografia do usuario: -->   
      <p class="subTitle bio text-start" maxlength="256"><%= cliente[0].bio %></p>
      <!-- Botão de edição de perfil: -->
      <a class="btn btnBase btnGrey" href="/editProfile" style="margin-bottom: 15px; margin-left: 0px;">Edit Profile</a>
      

      <div class="linha"></div>

    <h1 style="margin-left: 26px; color: #FFFF;">Your Creations:</h1>
    <!-- pacotes do usuario: -->
    <div class="row container">

      <% pacote.forEach((pac)=>{ %>
        <a href="/kitPage" class="col" style="text-decoration: none;">
          <div class="card pacoteCard" style="width: 18rem;">
            <img src="https://www.jornaljoca.com.br/wp-content/uploads/2023/09/GettyImages-185095684-scaled-e1694031399314.jpg" class="imgCard" alt="...">
            <div class="cardBody">
              <h5 class="cardTitle"><%= pac.nome %></h5>
              
              <div class="linha"></div>
      
              <img src="img/icons/star.png" class="cardStar float-start"><p class="cardTxt"><%= %></p>
            
              <img src="img/icons/buyers.png" class="cardStar float-start"><p class="cardTxt"><%= %></p>
              <br>
            </div>
          </div>
          </a>
      <% }); %>

    </div>
    


</body>