<%- include("partials/header")%>
  <link rel="stylesheet" type="text/css" href="/CSS/index.css"/>
  <link rel="stylesheet" type="text/css" href="/CSS/profile.css"/>

<body>
  <%- include("partials/hudLog")%>
    
    <div class="container indexDiv">
      <div class="linha"></div>
      
      <img src="/uploads/img/pfp/<%= cliente[0].imgPerfil%>" class="pfp float-start" >
      
      <!-- Nome do usuário: -->
      <h1 class="userTitle"><%= cliente[0].login %></h1>
      <!-- Biografia do usuario: -->   
      <p class="subTitle bio text-start" maxlength="256"><%= cliente[0].bio %></p>
      <!-- Botão de edição de perfil: -->
      <a class="btn btnBase btnGrey" href="/editProfile" style="margin-bottom: 15px; margin-left: 0px;">Editar Perfil</a>
      

      <div class="linha"></div>

    <h1 style="margin-left: 26px; color: #FFFF;">Suas criações:</h1>
    <!-- pacotes do usuario: -->
    <div class="row container">

      <% pacote.forEach((pac)=>{ %>
        <div class="col-6 col-md-4 col-lg-2">
          <div class="card pacoteCard" style="width: 18rem;">
          <a class="deleteBtn" data-id="<%= pac.idPacote %>"><img src="\img\icons\trash.png" class="cardStar"></a>
            <a href="/kitPage/<%= pac.idPacote %>/<%= pac.slug %>" style="text-decoration: none;">
            <img src="/uploads/img/kitCover/<%= pac.dirImg %>" class="imgCard" alt="...">
            <div class="cardBody">
              <h5 class="cardTitle"><%= pac.nome %></h5>
              
              <div class="linha"></div>
      
              <img src="img/icons/star.png" class="cardStar float-start"><p class="cardTxt"><%= pac.media %></p>
            
              <img src="img/icons/buyers.png" class="cardStar float-start"><p class="cardTxt"><%= pac.totalCompras %></p>
              <br>
            </div>
          </div>
        
          </a>
        </div>
      <% }); %>

    </div>
    


</body>
<script src="\js\myProfileAjax.js">
  
</script>
