<%- include("partials/header")%>
<link rel="stylesheet" type="text/css" href="/CSS/index.css" />
<link rel="stylesheet" type="text/css" href="/CSS/payment.css" />
<link rel="stylesheet" type="text/css" href="/CSS/form.css" />

<style>
  .qr {
    width: 250px;
    height: 250px;
  }
  .container {
    margin: 0 auto;
    text-align: center;
    width: fit-content;
    height: 500px;
  }
</style>

<body>
  <%- include("partials/hudLog")%>
<<<<<<< HEAD
<h1>Finalize seu pagamento</h1>
<div id="paymentBrick_container"></div>
<input type="hidden" value="<%= preference.data.id %>" id="pref">
<input type="hidden" value="<%= listaProd[0].preco %>" id="preco">
<script>
const mp = new MercadoPago("TEST-8196814297249162-112217-565309203935a1125081296cdc9e5a59-544237355"); // access token
const bricksBuilder = mp.bricks();
let prefId = parseInt(document.getElementById("pref").value);
let preco = parseInt(document.getElementById("preco").value);

const renderPaymentBrick = async (bricksBuilder) => {
  const settings = {
    initialization: {
      amount: preco, 
      preferenceId: prefId, //e
    },
    customization: {
      paymentMethods: {
        ticket: "all",
        bankTransfer: "all",
        creditCard: "all",
        debitCard: "all",
        mercadoPago: "all",
      },
    },
    callbacks: {
      onSubmit: ( selectedPaymentMethod, formData ) => {
        return new Promise((resolve, reject) => {
          fetch("/process_payment", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(formData),
          })
            .then((response) => response.json())
            .then((response) => {
              resolve();
            })
            .catch((error) => {
              reject();
            });
        });
      },
      onError: (error) => {
        console.error(error);
      },
    },
  };
=======

  <div class="steps container">
    <div class="step">1</div>
  </div>

  <form class="container pForm form-control" action="/tipoPagamento/<%= pacote.idPacote %>" method="post">
  <form class="container pForm form-control" action="/tipoPagamento" method="post">
    <h1 class="title" style="color: #fff">Escolha seu método de pagamento</h1>
    <div class="linha"></div>
>>>>>>> c3e8e9f8523629f5cc1b85126e3dfe4bea81dbf8

  <div class="float-start method">
  <input type="radio" id="pix" name="metodo" value="pix" class="bola" required>
    <label for="pix" class="subTitle">Pix</label>
  </div>
  <br><br>
    <div class="float-start method">
      <input type="radio" id="debitCard" name="metodo" value="deditCard" class="bola" required>
        <label for="creditCard" class="subTitle">Cartão de débito</label>
      </div><br><br>
    <button class="btn btnBase btnLog" type="submit">Continuar</button>
  </div>

<<<<<<< HEAD
renderPaymentBrick(bricksBuilder);

</script>

</body>
=======
<div class="row">
</div>
  </form>
</body>
>>>>>>> c3e8e9f8523629f5cc1b85126e3dfe4bea81dbf8
