<%- include("partials/header")%>
  <link rel="stylesheet" type="text/css" href="/CSS/index.css"/>
  <link rel="stylesheet" type="text/css" href="/CSS/profile.css"/>

<body>
  <%- include("partials/hudLog")%>
    
    <div class="container indexDiv">
      <div class="linha"></div>
      
      <img src="/uploads/img/pfp/<%= cliente[0].imgPerfil %>" class="pfp float-start" >
      
      <!-- Nome do usuário: -->
      <h1 class="userTitle"><%= cliente[0].login %></h1>
      <!-- Biografia do usuario: -->   
      <p class="subTitle bio text-start"><%= cliente[0].bio %></p>

      <div class="linha"></div>

    <h1 style="margin-left: 26px; color: #FFFF;">Criações de USER:</h1>
    <!-- pacotes do usuario: -->
    <div class="row container g-0">

      <!-- isso é um pacote (comeco) -->

      <% for(pack of pacote){ %>
        <a href="/kitPage/<%= pack.idPacote %>/<%= pack.slug %>" class="col-6 col-md-4 col-lg-2" style="text-decoration: none;">
          <div class="card pacoteCard" style="width: 18rem;">
            <img src="/uploads/img/kitCover/<%= pack.dirImg %>" class="imgCard" alt="...">
            <div class="cardBody">
              <h5 class="cardTitle"><%= pack.nome %></h5>
              
              <div class="linha"></div>
      
              <img src="/img/icons/star.png" class="cardStar float-start"><p class="cardTxt"><%= pack.media %></p>
            
              <img src="/img/icons/buyers.png" class="cardStar float-start"><p class="cardTxt"><%= pack.totalCompras %></p>
              <br>
            </div>
          </div>
          </a>
      <% } %>
    
      <!-- isso é um pacote (fim) -->

    </div>
    


</body>