<%- include("partials/header")%>
  <link rel="stylesheet" type="text/css" href="CSS/index.css"/>

  <style>
    .resultsFor{
      margin-bottom: 15px;
      font-size: 25px;
    }
  </style>

  <body>
    <%- include("partials/hudLog")%>

    <!-- parte dos produtos -->

    <div class="container">
      <br>

    <!-- resultados da pesquisa: -->
      
      <h1 class="subTitle text-start resultsFor">Resultados para: <%= pesquisa %></h1>
      <div class="linha"></div>
      <br>
      <!-- fileira 1 dos pacotes -->
      <div class="row container g-0">

        <!-- isso é um pacote (comeco) -->
         <% for(pack of pacotes){ %>
      <a href="/kitPage/<%= pack.idPacote%>/<%= pack.slugPack %>" class="col-6 col-md-4 col-lg-2" style="text-decoration: none;">
      <div class="card pacoteCard" style="width: 18rem;">
        <img src="/uploads/img/kitCover/<%= pack.dirImg %>" class="imgCard" alt="...">
        <div class="cardBody">
          <h5 class="cardTitle"><%= pack.nome %></h5>
          
          <div class="linha"></div>
  
          <img src="img/icons/star.png" class="cardStar float-start"><p class="cardTxt"><%= pack.media %></p>
        
          <img src="img/icons/buyers.png" class="cardStar float-start"><p class="cardTxt"><%= pack.totalCompras %></p>
          <br>
        </div>
      </div>
      </a>
      <% } %>
        <!-- isso é um pacote (fim) -->
  
        <!-- isso é um pacote (comeco) -->
       <!-- <a href="/kitPage" class="col" style="text-decoration: none;">
          <div class="card pacoteCard" style="width: 18rem;">
            <img src="https://www.jornaljoca.com.br/wp-content/uploads/2023/09/GettyImages-185095684-scaled-e1694031399314.jpg" class="imgCard cardPfp" alt="...">
            <div class="cardBody">
              <h5 class="cardTitle">Username</h5>
              
              <div class="linha"></div>
    
              <img src="img/icons/pack.png" class="cardStar float-start"><p class="cardTxt">00</p>
              <p class="cardTxt cardBio" maxlength="50">"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"</p>
              <br>
            </div>
          </div>
          </a>-->
          <!-- isso é um pacote (fim) -->

  
      </div>

    </div>
    

  </body>
</html>